{% extends 'calendarAPP/base.html' %}

{% block title %}
    Calendar
{% endblock %}

{% block content %}
    <br />
    {% comment %} {% if user.is_authenticated %}
        <h1>This is from calendar.html</h1>
    {% else %}
        <!-- {% include 'calendarAPP/login.html' %} -->
    {% endif %} {% endcomment %}
<div class="container" style="margin-bottom: 5px; margin-top: 5px;">
	<a class="btn btn-info" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info" style="float: right;" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
</div>
    {{calendar}}
{% endblock content %}