{% extends 'calendarAPP/base.html' %}

{% block title %}
    To-Do List 
{% endblock %}

{% block content %}
    {% comment %} <a class="btn btn-secondary" href="{% url 'add' %}">Add New Event</a> {% endcomment %}

    <div class="today">
        <h2>Today - <script> document.write(new Date().toLocaleDateString()); </script></h2>
        <div class="row">
            {% if today_update_events %}
                {% for event in today_update_events %}
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{event.title}}</h3>
                                <p class="card-text">Event Date: {{event.event_date|date:"n/d/Y"}}</p>
                                <a href="{% url "cal:event_detail" event.pk %}" class="btn btn-primary">More Detail</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no events today</p>
            {% endif %}
        </div>
    </div>

    <div class="future" style="margin-top: 30px">
        <h2>Future Events</h2>
        <div class="row">
            {% if future_update_events %}
                {% for event in future_update_events %}
                    <div class="col-sm-3"  style="margin-bottom: 25px;">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{event.title}}</h3>
                                <p class="card-text">Event Date: {{event.event_date|date:"n/d/Y"}}</p>
                                <a href="{% url "cal:event_detail" event.pk %}" class="btn btn-outline-primary">More Detail</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no future events</p>
            {% endif %}
        </div>
    </div>

    {% comment %} start of old code {% endcomment %}
    {% comment %} <h2>Today</h2>
    {% if today_events %}
        {% for event in today_events %}
            <p>{{ event }}</p>
        {% endfor %}
    {% else %}
        <p>You have no events today</p>
    {% endif %}

    <h2>Future</h2>
    {% if future_events %}
        {% for event in future_events %}
            <p>{{ event }}</p>
        {% endfor %}
    {% else %}
        <p>You have no future events</p>
    {% endif %} {% endcomment %}

    {% comment %} {% if user_events %}
        {% for event in user_events %}
            <p>{{ event }}</p>
        {% endfor %}
    {% endif %} {% endcomment %}

    {% comment %} <div class="container">
        <h2>Today <script> document.write(new Date().toLocaleDateString()); </script></h2>
       
    </div>
    <div>
        <h2>Upcoming</h2>
    </div> {% endcomment %}
{% endblock %}